body{
  font-family:'Open Sans', sans-serif;
  font-weight:300;
}
.projects-background{
	background-color: #bdd1db;
}
.background-background{
	background-color: #adb2a9;
}
.graph{
/*	height: 1000px;
	width: 1000px;*/
	border: 1px dashed black;
}


/*HEADER*/
header{
	background-color: #bdd1db;
	height: 90px;
	line-height: 90px;
	transition: all 0.4s ease;
}
header.sticky{
	position: fixed;
	background-color: white;
	height: 75px;
	line-height: 75px;
	width: 100%;
	z-index: 2;
}
header .logo{
	float: left;
	height: 50px;
}
header .logo img{
	height: 50px;
}
header .text{
	float: left;
	font-size: 20px;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/*BODY*/
main{
	border-radius: 4px;
}
.background{
	height: 500px;
	background: url(../images/capitol.jpg) no-repeat center center fixed;
	background-size: cover;
}
h1{
	color: white;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}
main .image{
	height: 100px;
}
.project{
	margin-bottom: 100px;
}
.project img{
	height: 100px;
	vertical-align: middle;
	max-width: 100%;
}
.description span{
	display: block;
	font-size: 16px;
}
.description a{
	text-decoration: none;
}
.description h3{
	margin-top: 0;
}
.background-background object{
	height: 150px;
	border-radius: 10px;
}

/*FOOTER*/
footer{
	background-color: white;
	height: 75px;
	text-align: center;
	padding: 5px 0;
}
